<article>
  <div>
    <img src="assets/me.jpg" alt="profile picture" />
  </div>

  <div>
    <section id="about" class="about-section">
      <h2>About Me</h2>
      <p>
        I'm a humble and hardworking developer with a deep sense of gratitude for every opportunity to learn and grow. I’ve worked on full-stack projects using technologies like <strong>Angular</strong>, <strong>React</strong>, and <strong>Spring Boot</strong>,
      </p>
      <p>
        Adaptability is one of my key strengths — whether it's picking up a new framework or contributing to a new domain, I embrace challenges with a learning mindset. But above all, I'm a <strong>team player</strong> who believes that collaboration, clear communication, and mutual respect are essential for building great software.
      </p>
      <p class="signature-line">Let's build something great — together.</p>

      <!-- Resume Button -->
      <div class="resume-button-container">
        <a href="assets/Balakumar_Resume.pdf" download class="resume-button">Download Resume</a>
      </div>
    </section>
  </div>
</article>
