<aside class="contact-card">
  <h2>Contact Me</h2>
  <ul>
    
    <li>
      <a href="mailto:balakumarguhesh@gmail.com" aria-label="Email">
        <i class="fa-solid fa-envelope"></i>
        balakumarguhesh&#64;gmail.com
      </a>
    </li>
    <li>
      <a href="https://github.com/Bala040404" target="_blank" rel="noopener" aria-label="GitHub">
        <i class="fa-brands fa-github"></i>
        GitHub
      </a>
    </li>
    <li>
      <a href="https://linkedin.com/in/balakumar-guhesh-48611026a" target="_blank" rel="noopener" aria-label="LinkedIn">
        <i class="fa-brands fa-linkedin"></i>
        LinkedIn     </a>
    </li>
    <li>
      <a href="tel:+1234567890" aria-label="Phone">
        <i class="fas fa-phone"></i>
        +91-9487745129
      </a>
    </li>
  </ul>
  
</aside>  