/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');


html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(120deg, #18122B 0%, #383838 50%, #3432ac 100%);
  background-size: 200% 200%;
  animation: gradientMove 8s ease-in-out infinite;
  overflow-x: hidden;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}